body {
    background-color:antiquewhite;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    color:saddlebrown;
}

ol {
    list-style-type: lower-greek;
    background-color: bisque;
    padding: 5px;
    margin: 69px;
}