body {
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-size: 45px;
    background: black;
}

h1 {
    color: red;
}

.list {
    color: white;
    font-size: 23px;
    border: solid white 1px;
    list-style: none;
    display:block;
}