body {
    background-color:mediumturquoise;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 56px;
    color:antiquewhite;
    background-color:cornflowerblue;
    text-align: center;
    padding: 10px;
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color:skyblue;
    background-color:midnightblue;
    text-align: left;
    margin: 0px;
}

a.hover {
    background-color: cornflowerblue;

}

.links {
    display:inline-block;
    list-style: none;
}

li {
    margin: 10px;
    padding: 15%;
}